 * {
       font-family: "Open Sans", sans-serif;

 }
.banner {
    background-image: url(../image/haram.jpg);
    background-size: cover;
    padding: 300px 0;
}
.skills-padding {
    padding: 300px 0;
}
.about-padding {
    padding: 300px 0;
}